@import "libs";


html {
  box-sizing: border-box;
  background-color: #18458d31;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  padding: 15px;
  border-radius: 5px;
  color: #FFFFFF;
  width: 100%;
  background-color: #386A9B;
  transition: all .3s;
}

a>h2:hover {
  color: #386A9B;
  background-color: rgba(56, 106, 155, 0.08);
}

.container {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: auto;
  max-width: 1350px;
  width: 100%;
  background-color: #f7f7f7
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.header {
  ul {
    list-style: none;
    padding: 0;
  }

  .sub-menu {
    visibility: hidden;
    display: none;
    position: absolute;
    top: 0;
  }

  &__top-menu {
    margin: auto;
    padding: 1px 10px;
    background-color: #386A9B;
    color: #f7f7f7ab;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    ul>li {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 10px 10px;
      width: 150px;
      height: 4em;
    }

    ul>li:not(:last-child)::after {
      content: "";
      background-color: rgba(0, 0, 0, 0.09);
      position: absolute;
      right: 0;
      top: calc(50% - 1.5em);
      width: 1px;
      height: 3em;
    }

    ul>li:hover {
      color: #f7f7f7;
    }
  }
  .bvi-link-shortcode {
    display: flex;
    align-items: center;
    position: absolute;
    height: 45px;
    width: 150px;
    font-size: 90%;
    right: 0;
    top: 0;
    border-radius: 0 0 0 10px;
    color: #386A9B !important;
    border-color: #386a9b85;
    background-color: transparent !important;
    border-width: 0 0px 2px 2px;
    border-style: solid;
    transition: all .3s;

    svg {
      height: 20px;
      width: 40px;
      margin: 10px 10px;
    }
  }
  &__content {
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 380px;
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    background-color: rgba(56, 106, 155, 0.08);
    border-bottom: 10px solid #386a9b;
    .bvi-link-shortcode:hover {
      background-color: #fff !important;
    }
  }

  &__content-background {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    height:100%;
    width: 100%;
    min-width: 1350px;
    min-height: 400px;
  }

  &__content-logo {
    margin: 20px;
  }

  &__content-title {
    margin: 20px 150px 20px 0;
    display: block;
    color: #6B7FA0;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
  }

  &__bottom-menu {
    max-width: 590px;
    position: absolute;
    bottom: -15px;
    right: 0;
    padding: 10px 15px;
    border-radius: 10px 0 0 0px;
    background-color: #386A9B;
    color: #f7f7f7ab;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    text-transform: uppercase;


    ul {
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    ul>li {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 10px 10px;
      height: 2em;
    }

    ul>li:not(:last-child)::after {
      content: "";
      background-color: rgba(0, 0, 0, 0.09);
      position: absolute;
      right: 0;
      top: calc(50% - 1.5em);
      width: 1px;
      height: 3em;
    }

    ul>li:hover {
      color: #f7f7f7;
    }
  }

  &__running-line {
    margin-top: -2px;
    display: flex;
    align-items: center;
    height: 25px;
    background-color: #5A5E62;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  &__running-line-alert {
    z-index: 2;
    position: absolute;
    background-color: #333333;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 20px 20px 0;

    img {
      height: 20px;
    }
  }

  &__running-line-text {
    height: 100%;
    width: 100%;
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #f0f0f0b7;
    font-size: 12px;
    white-space: nowrap;
    animation: running-line 20s linear 0s infinite forwards;
    animation-fill-mode: backwards;

    p {
      margin: 0 100px;
      max-height: 10px;
    }
  }
}

main {
  display: flex;
  flex-wrap: wrap;
}

.sidebar {
  max-width: 260px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
padding-bottom: 50px;
&__search{
  margin: 30px 5px;
  width: 97%;
  height: 30px;
  position: relative;
  input{
    position: absolute;
    width:75%;
    height: 100%;
    border: 1px solid #386a9b85;
    border-right: none!important;
    padding: 10px 5px;
    border-radius: 5px 0 0 5px;
    font-weight: 300;
    color: #5A5E62;
  }
  input:focus{
    outline: none;
  }
  button{
    cursor: pointer;
    background-color: #386a9b!important;
    color: #fff!important;
    border-radius: 0 5px 5px 0;
    border: none!important;
    position: absolute;
    width: 25%;
    right: 0;
    top: 0;
    height: 100%;
    padding: 10px 0;
    margin: 0;
    padding: 0;
  }
}
  &__logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      margin: 5px;
      transition: all .3s;
      cursor: pointer;
    }
  }

  &__contacts {
    width: 100%;
    margin-bottom: 30px;
    background-color: rgba(56, 106, 155, 0.08);
    padding-bottom: 15px;
    img{
      margin: 0;
      margin-bottom: -5px;
      width: 100%;
      max-width: 300px;
    }
    &-title {
      background-color: #386A9B;
      color: #FFFFFF;
      opacity: 0.9;
      text-transform: uppercase;
      padding: 15px;
      text-align: center;
      margin: 0;
    }

    &-description {
      line-height: 40px;
      text-align: center;
      opacity: 0.5;
    }

    &-text {
      padding-left: 20px;
      line-height: 50px;
    }

    &-number {
      color: #386A9B;
      line-height: 50px;
      padding-left: 20px;
    }
  }
}

.main {
  &__content {
    padding: 30px;
    width: 80%;
    overflow: hidden;
  }

  &__banner {
    max-width: 1000px;
    width: 100%;
    margin-bottom: 15px;
  }

  &__hello {
    border-left: 30px solid #386A9B;
    border-radius: 5px;
    padding: 40px 15px;
    background-color: rgba(56, 106, 155, 0.08);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #313C47;
    margin-bottom: 60px;
  }

  &__title {}

  &__news {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    ul {
      list-style: none;
      padding: 0;
      width: 100%;
    }
  }

  &__news-item {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.061);
    background-color: #fff;
    width: 100%;
    position: relative;
    max-width: 1000px;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }

  &__news-item-img {
    display: block;
    border: 1px solid #BFBFBF;
    border-radius: 5px;
    max-width: 240px;
    width: 25%;
    height: 140px;
    min-width: 200px;
    margin: auto;
    overflow: hidden;
    position: relative;
  }

  &__news-item-text {
    width: 75%;
    min-width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  &__news-item-title {
    text-align: center;
    padding: 0 50px;
    font-size: 22px;
    line-height: 30px;
  }

  &__news-item-date {
    font-size: 16px;
    line-height: 19px;
    margin: 0;
    color: #C4C4C4;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #2F3032;
  color: #f7f7f7c9;
  padding: 30px 30px;
  font-size: 16px;
line-height: 25px;

color: #AAAAAA;
  &__column{
    min-width: 300px;
    margin: auto;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 200px;
    ul{
      list-style: none;
      padding: 0%;
      margin: 0;
    }
    p{
      margin: 0;
    }
    li{
      margin: 5px;
      a:hover{
        color: #fff;

      }
    }
  }
  &__title{
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
  }
  &__btns{
    max-width: 250px;
    margin: auto;
    ul{
      margin: auto;
      padding: 0;
    }
    li{
      margin: 0;
      padding: 0;
    }
  }
  &__btn{
    translate: all .3s;
    display: block;
    background-color: #5A5E62;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 15px;
    width: 100%;
    color: #FFFFFF;
  }
  &__btn:hover{
    background-color: #386a9b;
  }
}

@keyframes running-line {
  from {
    transform: translate(-100%);
  }

  to {
    transform: translate(100%);
  }
}

@import "adaptive";
